@import "./componentes/variables";
@mixin animacion {
    animation: fadeInUp;
    animation-duration: 1.5s;
}
//      *** DarkMode ***
body{
    background: $colorBlanco;
    transition: .5s ease all;

    &.dark {
        background: $colorNegro;
    }
}
//      *** MakeUp ***
.nav-link{
    @include animacion;
}
.container {
    @include animacion;
}

.makeup__titulo {
    text-align: center;
    color: transparent;
    background: linear-gradient(to left, rgb(18, 22, 255), rgb(255, 25, 25), rgb(18, 22, 255), rgb(255, 75, 75));
    -webkit-background-clip: text;
}

.makeups {
    text-align: center;
        .makeup__titulo {
        padding-top: 30px;
    }
        h2 {
        padding: 20px;
        font-size: 36px;
        animation: fadeInUp;
        animation-duration: 1.5s;
    }    
}
.makeup__subTitulo1 {color: $colorZiggy;}
.makeup__subTitulo2 {color: $colorAladdin;}
.makeup__subTitulo3 {color: $colorScaryMonsters;}
.makeup__subTitulo4 {color: $colorLabyrinth;}
.makeup__subTitulo5 {color: $colorHunkyDory;}
//    ***Mobile 320px A px  ***
    @media only screen and (max-width:320px){
        .makeups{
                .makeup__titulo{
                    font-size: 20px;
                    padding-top: 20px;
            }            
                h2 {
                font-size: 18px;
            }
        }
} 
//    ***Mobile 320px A px Fin ***
//    ***Mobile 321px A 599px  ***
    @media only screen and (min-width:321px) and (max-width:599px){
        .makeup__titulo {
        font-size: 24px;
        padding-top: 20px;
    }
    .makeups{
            h2{
                font-size: 28px;
            }       
    }
} 
//    ***Mobile 321px A 599px Fin ***
//    ***Mobile 600px A 768px  ***
    @media only screen and (min-width:600px) and (max-width:768px){
        .makeups{
                .makeup__titulo{
                    font-size: 36px;
            }
                h2{
                    font-size: 32px;
            }        
    }
}
//        ***Mobile 600px A 768px Fin ***