/*** Variables Colores ***/

$colorBlanco: #fcfcfc;
$colorNegro: #000004;
$grisOscuro: #222222;
$grisClaro: #C8C8C8;
$grisClaroHover: #ACABAB;
$sombraDark: 10px 10px 20px rgba(170,170,170,.16);
$sombraLight: 10px 10px 20px rgba(0,0,0,.16);
$azul:#4b65b2;
$rojo:#d92d29;
$colorZiggy:#df2d62;
$colorAladdin :#e2494b;
$colorScaryMonsters:#a5a8b2;
$colorLabyrinth:#926047;
$colorHunkyDory:#bad4e5;
$colorDiamonDogs:#3264bb;
$colorUnionJacket:#b40114;
$colorStationToStation:#878787;

//  *** Variables Tipografía ***
$tipografia: 'Open Sans', sans-serif;